[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "~=25.5"
gunicorn = "~=23.0"
Flask = "~=3.1"
Flask-Caching = "~=2.3"
Flask-SQLAlchemy = "~=3.1"
PyYAML = "~=6.0"
logging-utilities = "~=5.0"
python-dotenv = "~=1.1"
shapely = "~=2.1"
pyproj = "~=3.7"
psycopg = {extras = ["binary"], version = "~=3.2"}

[dev-packages]
gatilegrid = "*"
yapf = "*"
nose2 = "*"
pylint = "*"
pylint-flask = "*"
numpy = "*"

[requires]
python_version = "3.13"
